<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>Kenes расшифровывает вашу речь на встрече локально, на этом компьютере.</string>
  <key>NSAudioCaptureUsageDescription</key>
  <string>Kenes расшифровывает речь собеседников из звонка локально, на этом компьютере.</string>
</dict>
</plist>
